[submodule "u-boot-arndale"]
	path = u-boot-arndale
	url = git://git.linaro.org/people/ronynandy/u-boot-arndale.git
[submodule "u-boot"]
	path = u-boot
	url = git://git.denx.de/u-boot.git
[submodule "linux-arndale"]
	path = linux-arndale
	url = git://git.insignal.co.kr/samsung/exynos/android/kernel/samsung/exynos3.0
