[submodule "platform-device/cortex_a15x2_arndale/u-boot-native"]
	path = platform-device/cortex_a15x2_arndale/u-boot-native
	url = git://git.linaro.org/people/ronynandy/u-boot-arndale.git
[submodule "platform-device/cortex_a15x2_arndale/guestos/linux"]
	path = platform-device/cortex_a15x2_arndale/guestos/linux
	url = git://git.insignal.co.kr/samsung/exynos/android/kernel/samsung/exynos3.0
[submodule "platform-device/cortex_a15x2_rtsm/u-boot-native"]
	path = platform-device/cortex_a15x2_rtsm/u-boot-native
	url = git://git.denx.de/u-boot.git
[submodule "platform-device/cortex_a15x2_rtsm/guestos/linux"]
	path = platform-device/cortex_a15x2_rtsm/guestos/linux
	url = git://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git
