322c322
< CONFIG_DEBUG_S3C_UART=1
---
> CONFIG_DEBUG_S3C_UART=2
472c472
< CONFIG_CMDLINE="console=tty0 console=ttySAC1,115200n8 androidboot.hardware=exynos5250-arndale rootwait ro rootdelay=3 init=/init androidboot.console=ttySAC1 fbdev=/dev/graphics/fb2 root=dev/ram0 rw mem=1024M mac=02:8e:2c:9b:f3:b8 coherent_pool=1M"
---
> CONFIG_CMDLINE="console=tty0 console=ttySAC2,115200n8 androidboot.hardware=exynos5250-arndale rootwait ro rootdelay=3 init=/init androidboot.console=ttySAC2 fbdev=/dev/graphics/fb2 root=dev/ram0 rw mem=1024M mac=02:8e:2c:9b:f3:b8 coherent_pool=1M"
2165,2166c2165,2166
< CONFIG_DEBUG_S3C_UART1=y
< # CONFIG_DEBUG_S3C_UART2 is not set
---
> # CONFIG_DEBUG_S3C_UART1 is not set
> CONFIG_DEBUG_S3C_UART2=y
